# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\CesarVillamilJr\ECI\2020-2\ARSW\LABORATORIOS\LAB1\PARALLELISM-JAVA_THREADS_MAVEN-INTRODUCTION_BBP_FORMULA\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
