# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\David Herrera\Documents\UNIVERSIDAD MATERIAS\ARSW\LAB_1\BBP_FORMULA\PARALLELISM-JAVA_THREADS_MAVEN-INTRODUCTION_BBP_FORMULA\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
